openapi: 3.2.0
info:
  title: Denbury Resources Media API
  version: wp/v2
  description: Public, unauthenticated read access to the Denbury Inc. media library (432 items at capture) — corporate presentations, sustainability reports, PDFs and imagery — via the WordPress core REST API.
  contact:
    name: Denbury Inc.
    url: https://www.denbury.com/contact-us/
    email: info@denbury.com
  x-derived-from: https://www.denbury.com/wp-json/ route index + per-route HTTP OPTIONS schema documents
  x-derived-on: '2026-09-06'
  x-api-evangelist-note: 'Third-party profile. Denbury Inc. publishes no developer program; this documents the anonymously readable WordPress core REST content API served from www.denbury.com. Every path, parameter, schema property and description here was read from the server''s own published HTTP OPTIONS documents on 2026-09-06 — nothing is invented. Anonymous access is read-only (the routes answer `Allow: GET`); the write methods on the same routes require WordPress application-password authentication and are not part of the public surface.'
servers:
- url: https://www.denbury.com/wp-json
  description: Denbury Inc. WordPress REST API
tags:
- name: Media
  description: 'Denbury Inc. media library assets: corporate presentations, reports, PDFs and images.'
paths:
  /wp/v2/media:
    get:
      operationId: listMedia
      summary: List media items
      description: 'Retrieve a paginated collection of media items in the Denbury Inc. media library — corporate presentations, reports, imagery and PDFs. 432 items were published at capture (X-WP-Total: 432).'
      tags:
      - Media
      parameters:
      - name: after
        in: query
        description: Limit response to posts published after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: author
        in: query
        description: Limit result set to posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: author_exclude
        in: query
        description: Ensure result set excludes posts assigned to specific authors.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: before
        in: query
        description: Limit response to posts published before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: exclude
        in: query
        description: Ensure result set excludes specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: include
        in: query
        description: Limit result set to specific IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: media_type
        in: query
        description: Limit result set to attachments of a particular media type or media types.
        schema:
          type: array
          items:
            type: string
            enum:
            - image
            - video
            - text
            - application
            - audio
          default: null
      - name: mime_type
        in: query
        description: Limit result set to attachments of a particular MIME type or MIME types.
        schema:
          type: array
          items:
            type: string
          default: null
      - name: modified_after
        in: query
        description: Limit response to posts modified after a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: modified_before
        in: query
        description: Limit response to posts modified before a given ISO8601 compliant date.
        schema:
          type: string
          format: date-time
      - name: offset
        in: query
        description: Offset the result set by a specific number of items.
        schema:
          type: integer
      - name: order
        in: query
        description: Order sort attribute ascending or descending.
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      - name: orderby
        in: query
        description: Sort collection by post attribute.
        schema:
          type: string
          enum:
          - author
          - date
          - id
          - include
          - modified
          - parent
          - relevance
          - slug
          - include_slugs
          - title
          default: date
      - name: page
        in: query
        description: Current page of the collection.
        schema:
          type: integer
          default: 1
          minimum: 1
      - name: parent
        in: query
        description: Limit result set to items with particular parent IDs.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: parent_exclude
        in: query
        description: Limit result set to all items except those of a particular parent ID.
        schema:
          type: array
          items:
            type: integer
          default: []
      - name: per_page
        in: query
        description: Maximum number of items to be returned in result set.
        schema:
          type: integer
          default: 10
          minimum: 1
          maximum: 100
      - name: search
        in: query
        description: Limit results to those matching a string.
        schema:
          type: string
      - name: search_columns
        in: query
        description: Array of column names to be searched.
        schema:
          type: array
          items:
            type: string
            enum:
            - post_title
            - post_content
            - post_excerpt
          default: []
      - name: search_semantics
        in: query
        description: How to interpret the search input.
        schema:
          type: string
          enum:
          - exact
      - name: slug
        in: query
        description: Limit result set to posts with one or more specific slugs.
        schema:
          type: array
          items:
            type: string
      - name: status
        in: query
        description: Limit result set to posts assigned one or more statuses.
        schema:
          type: array
          items:
            type: string
            enum:
            - inherit
            - private
            - trash
          default: inherit
      responses:
        '200':
          description: A paginated collection of media items.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MediaItem'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Anonymous access refused for this scope — rest_forbidden. The `edit` context requires WordPress application-password authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /wp/v2/media/{id}:
    get:
      operationId: getMediaItem
      summary: Retrieve a media item
      description: Retrieve a single media item by its numeric id, including its source URL and generated size variants.
      tags:
      - Media
      parameters:
      - name: context
        in: query
        description: Scope under which the request is made; determines fields present in response.
        schema:
          type: string
          enum:
          - view
          - embed
          - edit
          default: view
      - name: id
        in: path
        description: Unique identifier for the post.
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The requested media item.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaItem'
        '400':
          description: Invalid parameter(s) — rest_invalid_param.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Anonymous access refused for this scope — rest_forbidden. The `edit` context requires WordPress application-password authentication.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: No such resource or no matching route — rest_no_route / rest_*_invalid_id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Error:
      title: WordPress REST error
      type: object
      properties:
        code:
          description: Machine-readable error code, e.g. rest_invalid_param, rest_post_invalid_id, rest_no_route, rest_forbidden.
          type: string
        message:
          description: Human-readable error message.
          type: string
        data:
          description: Error detail including the HTTP status and any offending parameters.
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
    MediaItem:
      title: attachment
      type: object
      properties:
        date:
          description: The date the post was published, in the site's timezone.
          type: string
          format: date-time
        date_gmt:
          description: The date the post was published, as GMT.
          type: string
          format: date-time
        guid:
          description: The globally unique identifier for the post.
          type: object
          properties:
            raw:
              description: GUID for the post, as it exists in the database.
              type: string
            rendered:
              description: GUID for the post, transformed for display.
              type: string
        id:
          description: Unique identifier for the post.
          type: integer
        link:
          description: URL to the post.
          type: string
          format: uri
        modified:
          description: The date the post was last modified, in the site's timezone.
          type: string
          format: date-time
        modified_gmt:
          description: The date the post was last modified, as GMT.
          type: string
          format: date-time
        slug:
          description: An alphanumeric identifier for the post unique to its type.
          type: string
        status:
          description: A named status for the post.
          type: string
          enum:
          - publish
          - future
          - draft
          - pending
          - private
        type:
          description: Type of post.
          type: string
        permalink_template:
          description: Permalink template for the post.
          type: string
        generated_slug:
          description: Slug automatically generated from the post title.
          type: string
        class_list:
          description: An array of the class names for the post container element.
          type: array
          items:
            type: string
        title:
          description: The title for the post.
          type: object
          properties:
            raw:
              description: Title for the post, as it exists in the database.
              type: string
            rendered:
              description: HTML title for the post, transformed for display.
              type: string
        author:
          description: The ID for the author of the post.
          type: integer
        featured_media:
          description: The ID of the featured media for the post.
          type: integer
        comment_status:
          description: Whether or not comments are open on the post.
          type: string
          enum:
          - open
          - closed
        ping_status:
          description: Whether or not the post can be pinged.
          type: string
          enum:
          - open
          - closed
        meta:
          description: Meta fields.
          type: object
          properties:
            inline_featured_image:
              type: boolean
        template:
          description: The theme file to use to display the post.
          type: string
        smush:
          description: Smush data.
          type: string
        alt_text:
          description: Alternative text to display when attachment is not displayed.
          type: string
        caption:
          description: The attachment caption.
          type: object
          properties:
            raw:
              description: Caption for the attachment, as it exists in the database.
              type: string
            rendered:
              description: HTML caption for the attachment, transformed for display.
              type: string
        description:
          description: The attachment description.
          type: object
          properties:
            raw:
              description: Description for the attachment, as it exists in the database.
              type: string
            rendered:
              description: HTML description for the attachment, transformed for display.
              type: string
        media_type:
          description: Attachment type.
          type: string
          enum:
          - image
          - file
        mime_type:
          description: The attachment MIME type.
          type: string
        media_details:
          description: Details about the media file, specific to its type.
          type: object
        post:
          description: The ID for the associated post of the attachment.
          type: integer
        source_url:
          description: URL to the original attachment file.
          type: string
          format: uri
        missing_image_sizes:
          description: List of the missing image sizes of the attachment.
          type: array
          items:
            type: string
        filename:
          description: Original attachment file name.
          type: string
        filesize:
          description: Attachment file size in bytes.
          type: integer
        exif_orientation:
          description: EXIF orientation value. Values 1-8 follow the EXIF specification, where 1 means no rotation needed.
          type: integer
        image_quality:
          description: Encode quality (1-100) from the wp_editor_set_quality filter, resolved against the output MIME type. The "default" value applies to the full-size image; "sizes" lists per-registered-size overrides where the filtered value differs from "default".
          type: object
          properties:
            default:
              type: integer
            sizes:
              type: object
              properties:
                thumbnail:
                  type: integer
                medium:
                  type: integer
                medium_large:
                  type: integer
                large:
                  type: integer
                1536x1536:
                  type: integer
                2048x2048:
                  type: integer
                gform-image-choice-sm:
                  type: integer
                gform-image-choice-md:
                  type: integer
                gform-image-choice-lg:
                  type: integer
        image_output_format:
          description: The output MIME type this image should be converted to, based on the image_editor_output_format filter. Null if no conversion is needed.
          type: string
        image_save_progressive:
          description: Whether to use progressive/interlaced encoding when saving this image.
          type: boolean
